<div>
    <h1>Productos en el Carrito</h1>
    <ul>
        {{#each productsAux}}
            <li>
                {{this.title}} {{this.description}} $ {{this.price}} Category: {{this.category}} Stock: {{this.stock}} Quantity: {{this.quantity}}

        {{/each}}
    </ul>
</div>