<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Carrito de Compras</title>
    {{!-- <link rel="stylesheet" href="/styles.css" /> --}}
  </head>
  <body>
    <h1>Carrito de Compras</h1>

      <p id="cartId" data-cart-id="{{cart._id}}">Identificador del carrito: {{cart._id}}</p>

      
      <ul >
        {{#each cart.products}}
          <li >
            <p>Producto: {{this.product.title}} ({{this.product.description}})</p>
            <span>Id: {{this.product._id}}</span>
            <span>Cantidad: {{this.quantity}} Precio: ${{this.product.price}}  Stock: {{this.product.stock}}</span>
            
          </li>
        {{/each}}
      </ul>
    {{!-- <form action="/api/carts/{{cart.id}}/purchase" method="post">
        <button type="submit">Comprar</button>
    </form> --}}
    <div>
        <form id="purchaseForm" >
            <button type="submit">Terminarr Compra</button>
            (Ingresar id. del carrito a cerrar la Compra)
        </form>
    </div>

    <div id="ticketInfo">
      <!-- Aquí se mostrará la información del ticket -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/cart2.js"></script>
  </body>
</html>