<div>
    <h1>Productos en el Carrito</h1>
    <ul>
        {{#each productsAux}}
            <li>
                {{this.title}} {{this.description}} $ {{this.price}} Category: {{this.category}} Stock: {{this.stock}} Quantity: {{this.quantity}}

        {{/each}}
    </ul>
</div>
<div>
    <form id="purchaseForm" >
        <button type="submit">Compra Carrito </button>
        (Ingresar id. del carrito a cerrar la Compra)
    </form>
</div>
