<div>
    <p> Bienvenido, {{user.full_name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.rol}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>
<div>
    <h1>Productos</h1>
    <ul>
        {{#each products.docs}}
            <li>{{this.title}}: {{this.description}} ${{this.price}} Category: {{this.category}}</li>
             <button onclick="">Agregar al carrito</button>
        {{/each}}
    </ul>
    <div>
        ||
        {{#if products.hasPrevPage}}
            <a href={{products.prevLink}}>Anterior</a>
        {{/if}}
        ||
        <span>Página {{products.page}} de {{products.totalPages}}</span>
        ||
        {{#if products.hasNextPage}}
            <a href={{products.nextLink}}>Siguiente</a>
        {{/if}}
        ||
    </div>
</div>