<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
      <p> Bienvenido, {{user.full_name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.rol}}</p>
      <a href="/api/sessions/logout"><button>Salir</button></a>
    </div>

    {{!-- Inicio No se usa. Para pruebas --}}
    <div class="container">
      <div class="content">
        <h4>Probar los todos los endpoint que involucre sesion de usuario desde esta pestaña. Al hacerlo desde otra dara error xp estoy usundo estregia local, pronto pasare JWT</h4>
        {{!-- <form id="purchaseForm">
          <label>Cart Id.</label>
          <input name="cart_id" />
          <button type="submit">Terminar Compra</button>
          (Ingresar id. del carrito a cerrar la Compra)
        </form> --}}
      </div>
    </div>
    {{!-- Fin No se usa. Para pruebas --}}
    <div>
      <h1>Productos</h1>
      <ul>
        {{#each products.docs}}
          <li>{{this.title}}:
            {{this.description}}
            ${{this.price}}
            Category:
            {{this.category}}</li>
          <button onclick="">Agregar al carrito</button>
        {{/each}}
      </ul>
      <div>
        ||
        {{#if products.hasPrevPage}}
          <a href={{products.prevLink}}>Anterior</a>
        {{/if}}
        ||
        <span>Página {{products.page}} de {{products.totalPages}}</span>
        ||
        {{#if products.hasNextPage}}
          <a href={{products.nextLink}}>Siguiente</a>
        {{/if}}
        ||
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/products.js"></script>
  </body>
</html>